@use '../../styles/variables' as *;

.popup {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 1rem;
  z-index: 1000;
}


.error {
  background-color: $bgError;
}

.success {
  background-color: $bgSuccess;
}